html {
  text-align: center;
}

.name {
  letter-spacing: 5px;
  font-size: 40px;
}

.container {
  display: grid;
  grid-template-areas:
    'bio bio bio'
    'work education travel'
    'work goals travel';
  margin-bottom: 50px;
}

.bio {
  grid-area: bio;
  margin: 0 auto;
  width: 90%;
}

.work {
  grid-area: work;
}

.education {
  grid-area: education;
}

.goals {
  grid-area: goals;
}

.travel {
  grid-area: travel;
}

ul {
  padding: 0;
}

li {
  text-align: center;
  list-style-type: none;
}

h2 {
  color: #2497d1;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  position: fixed;
  margin-bottom: 0;
  width: 100%;
}
