html {
  text-align: center;
}

.name {
  letter-spacing: 5px;
  font-size: 40px;
}

.about-me {
  margin: 0 auto;
  width: 75%;
}

ul {
  padding: 0;
}

li {
  text-align: center;
}

h2 {
  color: #2497d1;
}

a {
  text-decoration: none;
  color: black;
}

.name {
  padding-bottom: 50px;
}

.spacer {
  height: 200px;
}
